@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

.active{
    text-decoration: underline;
}

ul a{
    font-size: medium;
    font-weight: 600;
    margin-right: 12px;
}